.textcapso1{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-left: 27px;
    margin-top: 40px;
    font-family: "Nunito Sans", sans-serif;
}
.upper-space{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Đảm bảo nội dung căn giữa theo chiều dọc */
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 7%;
}
.bangcapso{
    width: 1370px;
    height: 720px;
    background-color: #FFF;
    margin-left: 35px;
    border-radius: 16px;
    margin-top: 20px;
}

  
  