.bangthietbi{
    border-collapse: collapse;
    width: 89%;
    margin-left: 37px;
    background-color: #FFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.bangthietbi th {
  border: 1px solid #dddddd;
  padding: 15px;
  text-align: left;
}
.tdmatb,
.tdtentb,
.tddc,
.tdtt,
.tdttkn,
.tddv,
.tdctiet,
.tdcnhat
{
  border: 1px solid #dddddd;
  padding: 15px;
  text-align: left;
}
.tdctiet,
.tdcnhat {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #dddddd;
      padding: 10px; 
      width: 10%; 
  }
  .tddv{
    padding: 10px;
  }
.thmatb,
.thtentb,
.thdc,
.thtt,
.thttkn,
.thdv,
.thctiet,
.thcnhat
 {
  width: 10%;
  background-color: #FF9138;
  color: #FFF;
  white-space: nowrap;
}
tr:nth-child(even) {
  background-color: #FF750622; /* Màu nền hàng chẵn */
}
  .xemthem {
    color: blue; /* Chỉnh màu theo ý muốn */
    cursor: pointer;
  }
  .xemthem-content {
    display: none;
  }
  
  .xemthem-content.show {
    display: block;
  }
  .dichvu-content {
    display: inline-block;
    max-width: 150px; /* Điều chỉnh số ký tự hiển thị trước khi thu ngắn */
    vertical-align: top;
  }
  .iconButton {
    position: fixed;
    z-index: 999;
    top: 33%;
    right: 5px; 
    transform: translateY(-50%); 
    width: 85px;
    height: 100px;
    padding: 12px 4px 10px 22px;
    gap: 4px;
    background-color: #FFF2E7;
  }  
  .iconButton img{
    margin-left: 15px;
  }
  .iconButtonDevice{
    width: 110px;
    height: 110px;
    float: right;
    margin-top: -700px;
    padding: 12px 4px 10px 22px;
    gap: 4px;
    background-color: #FFF2E7; 
  }
  .iconButtonDevice img{
    margin-left: 15px;
    margin-top: 5px;
  }
  .themtb{
    margin-top: 10px;
    text-align: center;
    color: var(--orange-orange-500, #FF7506);
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .uptb{
    margin-top: 17px;
    margin-left: -17px;
    margin-right: 10px;
    color: var(--orange-orange-500, #FF7506);
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  .totaladdtb{
    width: 1470px;
    height: 830px;
    background-color: #F6F6F6;
    margin-left: 231px;
  }
  .tieudetb{
    font-family: "Nunito Sans", sans-serif;
    color: #FF7506;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-top: -23%;
    padding-top: 15px;
    margin-left: 40px;
  }
  .bangthongtin{
    width: 1370px;
    height: 620px;
    background-color: #FFF;
    margin-left: 35px;
    border-radius: 16px;
    margin-top: 20px;
  }
  .bangthongtinchitiet{
    width: 1300px;
    height: 700px;
    background-color: #FFF;
    margin-left: 35px;
    border-radius: 16px;
    margin-top: 20px;
  }
  .thongtintb{
    font-family: "Nunito Sans", sans-serif;
    color: #FF7506;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 18px;
  }
  .huybo{
    width: 160px; 
    height: 40px; 
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px; 
    font-weight: 700; 
    line-height: 26px;
    color: #FF993C;
    border-radius: 8px;
    border: 1.5px solid var(--orange-orange-400, #FF9138);
    background: var(--orange-orange-50, #FFF2E7);
    box-shadow: 0px 0px 6px 0px #E7E9F2;
  }
  .nutaddtb{
    width: 160px; 
    height: 40px;
    font-family: "Nunito Sans", sans-serif; 
    font-size: 18px; 
    font-weight: 700; 
    line-height: 26px; 
    border-radius: 8px;
    background: var(--orange-orange-400, #FF9138);
    box-shadow: 0px 0px 6px 0px #E7E9F2;
  }
  .containerThemtb{
    margin-top: 20px;
  }
  .thongtinbb{
    font-family: Nunito Sans, sans-serif;
    color: #7E7D88;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-left: 31px;
  }
  .text-chitiet, .text-add{
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-left: 31px;
    margin-top: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .form-tb{
    margin-left: 31px;
    width: 600px;
    height: 40px;
  }
  .form-inputt{
    margin-left: 31px;
    width: 1300px;
    height: 40px;
  }
  .form-select {
    margin-left: 28px;
    width: 500px;
    height: 40px;
  }
  