.navtop {
  display: flex;
  justify-content: space-between;
  width: 1476px;
  height: 127px;
  position: absolute;
  top: -1px;
  right: 0; /* Dịch chuyển .navtop qua phải */
  z-index: 10000; /* Đảm bảo nằm trên cùng */
  background-color: #F6F6F6;
}
.textnavtop{
  margin-top: 30px;
  margin-left: 130px;
}
.textnavtop span {
  font-weight: bold;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  margin-left: -90px;
}
.textnavtop span:first-child,
.textnavtop i {
  color: #7e7d88;
  margin-right: 20px;
}
.textnavtop span:last-child {
  color: #ff7506;
}
  