.navtop, .navtopp{
  display: flex;
  justify-content: space-between;
  width: 1470px;
  height: 127px;
  position: absolute;
  top: -1px;
  left: 231px; /* Dịch chuyển .navtop qua phải */
  z-index: 10000; /* Đảm bảo nằm trên cùng */
  background-color: #F6F6F6;
}
.navtopp{
  right: -15; /* Dịch chuyển .navtop qua phải */
}
.navtoppp{
  display: flex;
  justify-content: space-between;
  width: 1472px;
  height: 127px;
  position: absolute;
  top: -1px;
  left: 231px; /* Dịch chuyển .navtop qua phải */
  z-index: 10000; /* Đảm bảo nằm trên cùng */
  background-color: #F6F6F6;
}
.textnavtop{
  margin-top: 30px;
  margin-left: 130px;
}
.textnavtop span {
  font-weight: bold;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  margin-left: -90px;
}
.textnavtop span:first-child,
.textnavtop i {
  color: #7e7d88;
  margin-right: 20px;
}
.textnavtop span:last-child {
  color: #ff7506;
}
.totalform{
  margin-left: 231px;
  margin-top: -326px;
  width: 1472px;
  height: 820px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center; 
}
.formthongtin{
  margin-bottom: 150px;
  margin-left: 100px;
  display: flex;
  width: 1282px;
  padding: 40px 24px 35px 24px;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  background: var(--white, #f3eaea);
  box-shadow: 0px 2px 6px 0px rgba(219, 219, 219, 0.50);
}
.form-info {
  font-size: 16px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 29px;
  white-space: nowrap;
}
.ten{
  text-align: center;
  margin-top: 20px;
  margin-left: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; 
  white-space: nowrap;
}
.avatars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatars {
  position: relative;
  display: inline-block;
}

.avatar-image {
  position: relative;
  display: inline-block;
}

.avatar-image img {
  max-width: 170%;
  height: auto;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: 7px;
  right: -48px;
  width: 70px;
  height: 70px;
  background-color: #ff7506;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi-camera {
  color: white;
  font-size: 3rem;
}
