.thietbi{
    background-color: #F6F6F6;
    width: 1472px;
    height: 793px;
    margin-left: 232px;
    margin-bottom: -10%;
}
.subheading {
    font-size: 1.5em;
    margin-top: -22%;
    margin-left: 41px;
    color: #333; /* Màu chữ tuỳ chọn */
    display: block;
    color: #FF7506;
    font-weight: bold;
  }