.logoMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px; /* Điều chỉnh khoảng cách lên trên */
  margin-left: 70px; /* Điều chỉnh khoảng cách bên trái */
  z-index: 9999;
}
.logoMenu img {
  width: 80px;
  height: 64px;
}
.dangxuat {
  position: absolute;
  bottom: 4%;
  margin-left: 25px;
}
.dangxuat button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  color: #ff7506;
  background-color: #fff2e7;
  border: none;
  padding: 12px 45px;
  border-radius: 8px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}
.dangxuat i {
  color: #ff7506;
  font-weight: 700;
}
.menubar{
  text-decoration: none;
  margin-left: -32px;
}

.menubar ul {
  margin-top: 15px;
}
.menubar ul li {
  padding: 15px 0px;
  padding-left: 45px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #7e7d88;
}
.menubar ul .active,
.menubar ul .active:hover {
  background-color: #ff7506;
  color: #ffffff;
  width: 232px;
}
.menubar ul li:hover {
  background-color: #fff2e7;
  color: #ff7506;
  width: 232px;
}
.menubar ul li {
  display: flex;
  gap: 15px;
}

.no-underline {
  text-decoration: none;
}

.no-underline li {
  text-decoration: none;
}
.Popover {
  position: relative; /* Để làm việc với các vị trí tương đối */
}

.Popover-links {
  position: absolute; /* Đặt vị trí tuyệt đối cho các liên kết bên trong */
  top: 100%; /* Đặt vị trí bên dưới dấu ba chấm */
  margin-top: 10px;
}
.iconmenu{
  position: absolute;
  margin-left: 207px;
  margin-top: -12px;
}

