.xacnhan{
    width: 200px;
    height: 40px;
    background-color: #FF9138;
    border: none;
    margin-left: 160px;
    color: white;
}
.signupform{
    margin-left: 120px;
    padding-bottom: 20px;
}