
.logincontainer{
    margin-left: 170px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #FF9138;
}
.buttonlogin{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.dangnhap{
    background-color: #FF9138;
    border: none;
    color: white;
}
.tieptuc{
  width: 200px;
  background-color: #FF9138;
  border: none;
  color: white;
}
.huy{
  width: 200px;
}
.show-password {
    color: #7E7D88; 
}
.white-background {
    background-color: white;
}
.no-border {
    border: none;
}  
.formdn{
    height: 952px;
    border-radius: 5px;
    background: var(--bg, #F6F6F6);
}
.formdangnhap{
    margin-top: 90px;
    margin-left: 180px;
}
.formdangky{
  margin-top: 90px;
  margin-left: 150px;
}

.container {
    position: relative;
    display: inline-block;
}
  
  h3 {
    color: #FF7506 !important;
    position: absolute;
    top: 45%;
    left: 66%;
    transform: translate(-86%, -40%);
    z-index: 1;
  }
  
  h1 {
    color: #FF7506 !important;
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 107px;
    text-transform: uppercase;
    z-index: 2;
  }
  
  .custom-button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .button-group {
    display: flex;
    width: 100%;
  }
  .forgottieude{
   margin-left: 140px;
   padding-bottom: 20px;
  }
  .forgot{
    margin-left: 80px;
  }