.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
    height: 100%;
    }
}
.buttonlogin{
    margin-left: 120px;
    display: flex;
    width: 162px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
}
.maubtlogin{
    border-radius: 8px;
    background: var(--orange-orange-400, #FF9138);
    box-shadow: 0px 0px 6px 0px #E7E9F2;
}
.custom-button {
    border: none; 
    background-color: transparent;
    padding: 0; 
}
  
.show-password {
    color: #1890ff; 
}
.white-background {
    background-color: white;
}
.no-border {
    border: none;
}  
.formdn{
    width: 1440px;
    height: 949px;
    border-radius: 16px;
    background: var(--bg, #F6F6F6);
}
.formdangnhap{
    margin-top: 90px;
    margin-left: 190px;
}
  